.titulo__tienda {
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.tienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;

  .cards {
    width: 100px;
    flex: 0 0 calc(33.33% - 80px);
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.fixed-element {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.buttons-container {
  display: flex;
  margin-top: 10px;

  .ver-button,
  .agregar-button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px;
    font-size: 12px;
    margin: 3px;
  }
}

.loaded {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 50px;
}